<div class="card mb-4 shadow-lg">
  <!-- Image section -->
  <img [src]="'http://localhost:5000/' + product.image" alt="{{ product.name }}" class="card-img-top" style="object-fit: contain; height: 220px;">

  <!-- Card body section -->
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <!-- <p class="card-text">{{ product.shortdescription }}</p> -->

    <!-- Product Details -->
    <div class="d-flex justify-content-between">
      <p class="mb-0"><strong>Price:</strong> ${{ product.price }}</p>
      <p class="mb-0"><strong>Category:</strong> {{ product.category }}</p>
    </div>
  </div>

  <!-- Card footer if needed (optional) -->
  <div class="card-footer text-muted">
    <!-- Optionally, you can add some footer content here -->
  </div>
</div>
