.card {
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    border: none;
    text-align: center;
    max-width: 300px;
    background: #f0e8bf;
  }

  .product-img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 20px;
  }

  .card-content {
    padding: 10px;
  }

  h3 {
    margin: 10px 0;
  }

  p {
    color: #555;
    font-size: 14px;
  }
