<div class="category vitality-category">
  <h1 class="catagorytext category-title ">Vitality</h1>
  <div class="card-bg m-3 rounded-3 product-list">
    <app-product-card *ngFor="let product of vitalityProducts" [product]="product"></app-product-card>
  </div>
</div>

<div class="category border-bottom essence-category">
  <h1 class="catagorytext category-title">Essence</h1>
  <div class="product-list">
    <app-product-card *ngFor="let product of essenceProducts" [product]="product"></app-product-card>
  </div>
</div>

<div class="category canna-category">
  <h1 class="catagorytext category-title">Canna</h1>
  <div class="product-list">
    <app-product-card *ngFor="let product of cannaProducts" [product]="product"></app-product-card>
  </div>
</div>
