<div class="hero-container col-lg-12 col-md-12 col-sm-12">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/Asset2.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="360" height="300" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold mainText lh-1 mb-3">Nature’s Wisdom, Your Wellness</h1>
        <p class="mainText lead">
          Discover the power of nature with our thoughtfully curated selection of natural remedies.
          Backed by expert knowledge and a deep commitment to wellness, we provide personalized support
          to help you achieve balance, vitality, and lasting health.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Dashboard Button Section -->
<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="container col-xxl-8 px-4 py-5 text-center">
    <a href="/dashboard">
      <button class="btn btn-primary">Dashboard</button>
    </a>
  </div>
</div>

<!-- Product List Section -->
<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="container col-xxl-8 px-4 py-5">
    <h1 class="producttext text-center border-bottom mb-4">Our Products</h1>
    <app-product-list></app-product-list>
  </div>
</div>
