.mainText{
  color: #f0e8bf;
}
.producttext{
  color:#f0e8bf
}


.topcontainer{
  background-color: #214545;
}


/* .hero-container {
  background: url('/fernbg.png') no-repeat center center/cover;
  height: 600px;
  width: 95%;
  border-radius: 10px 10px 10px 10px;
  margin: 30px;
} */
